# ========================================================
# CONFIGURAÇÃO SUPABASE (OWN BARBER CLUB)
# ========================================================
NEXT_PUBLIC_SUPABASE_URL="https://tvjbtlsxibcpahpizksd.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR2amJ0bHN4aWJjcGFocGl6a3NkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY3NjQ1NTgsImV4cCI6MjA5MjM0MDU1OH0.8QaQgTRnxknyjj9uoTOZdc46Tr1Rv0eXwSyShZnh90M"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR2amJ0bHN4aWJjcGFocGl6a3NkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Njc2NDU1OCwiZXhwIjoyMDkyMzQwNTU4fQ.9I6yiVhTqU87h3lBGxrcevVUQLASMG74s0tT9YtWEEo"

# ========================================================
# NEXTAUTH
# ========================================================
NEXTAUTH_SECRET="ownbarberclub-secret-key-2026"
NEXTAUTH_URL="http://localhost:3000"
